<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Покупки за последнюю неделю</title>
</head>
<body>
<h2>Покупки за последнюю неделю</h2>

<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Количество</th>
        <th>Товар</th>
        <th>Сумма</th>
        <th>Дата покупки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="purchase : ${lastWeekPurchases}">
        <td th:text="${purchase.getUser().getFirstName()}"></td>
        <td th:text="${purchase.getUser().getLastName()}"></td>
        <td th:text="${purchase.getUser().getAge()}"></td>
        <td th:text="${purchase.getCount()}"></td>
        <td th:text="${purchase.getPurchaseItem()}"></td>
        <td th:text="${purchase.getAmount()}"></td>
        <td th:text="${purchase.getPurchaseDate()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
